@model IEnumerable<AutoVerhuurJansen.Models.categorie>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<center>
    <table class="table">
        <tr>
            <th>
                Categorie
            </th>
            <th>
                Aantal personen
            </th>
            <th>
                Aantal koffers
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.categorieNaam)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.aantalPersonen)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.aantalKoffers)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.categorieId }, new { @class = "btn btn-primary" }) |
                    @Html.ActionLink("Details", "Details", new { id = item.categorieId }, new { @class = "btn btn-info" }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.categorieId }, new { @class = "btn btn-danger" })
                </td>
            </tr>
        }

    </table>
</center>
